* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    color: #404040;
    font-size: 1rem;
    text-align: center;
}

/* typography */

h1 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    margin: 2em 0;
}

h1 + p {
    font-size: 1.3125rem;
    font-weight: 900;
    color: #f18119;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-size: 1rem;
    font-weight: 900;
    color: #f18119;
    letter-spacing: 0.5px;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    color: #f18119;
    font-size: 0.625rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

/* intro section */

.intro {
    background-color: #404040;
    background-image: url(/images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30vh;
}

/* main content section */

.main-content {
    padding: 2em 1em;
}



.intro > *,
.main-content > * {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* email form */

.email-collector {
    /* border: 3px solid red; */
    width: 80%;
    max-width: 300px;
}

input,
.button {
    width: 100%;
    border-radius: 4px;
    font-family: inherit;
}

input {
    text-align: inherit;
    border: 1px solid #404040;
    margin-bottom: .75em;
    padding: 0.25em;
}

.button {
    display: inline-block;
    background-image: linear-gradient(to left, #ff713b, #ffa51d);
    border: 0;
    color: white;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 150ms;
}

.button:hover {
    color: black;
}

/* media queries */

@media (min-width: 670px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}